/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.lsp/sqlite.db
.clj-kondo/.cache/2021.08.06/lock
.clj-kondo/.cache/2021.08.06/clj/plano-saude.database.config.transit.json
.clj-kondo/.cache/2021.08.07-SNAPSHOT/lock
.clj-kondo/.cache/2021.08.07-SNAPSHOT/clj/plano-saude.database.config.transit.json
